<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pritesh.tvshowscheduler">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".TvShow"
        android:allowBackup="true"
        android:icon="@drawable/tv_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="84dba40037171ff39352e2ec561a504a93ae824f"
            />
        <activity android:name=".ui.ShowsActivity" />

        <provider
            android:name=".data.generated.ShowProvider"
            android:authorities="com.pritesh.tvshowscheduler.data"
            android:exported="true" />

        <receiver
            android:name=".AlarmReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="ALARM" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ui.DialogActivity"
            android:launchMode="singleTask" />

        <receiver android:name=".widget.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.pritesh.tvshowscheduler.adapter.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>
        <service
            android:name=".widget.WidgetRemoteViewService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>